/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo{
	text-align:left;
}
.nav-heading{
	text-align:right;
}
.navBar-menu{
	flex-direction: row;
	justify-content:flex-end;
}
.navBar-menu a{
	padding: 16px 10px;
	margin: 20px 0px;
	background:transparent;
}
/*nav design end*/

.profile .top-photo{
	right:100px;
	width:120px;
	height:120px;
	transition:width 2s, transform 2s;
}
.profile .top-photo:hover{
	transform: rotate(5000deg);
	width:140px;
}
.profile .bottom-photo{
	
	left:140px;
	
	width:120px;
	height:120px;
	transition:width 2s, transform 2s;
}
.profile .top-photo:hover{
	transform: rotate(5000deg);
	width:120px;
}
.profile p{
	color:gray;
	text-align:center;
	margin:0 auto;
	width: 50%;
	
}




/*about me section start*/

.aboutme-image{
	margin-top: 100px;
}
.about-desc p{
	font-size: 30px;
}
.about-desc a{
	font-size: 30px;
}
.cv-button{
	background-color: #052d2f;
	color: white;
	border:none;
	border-radius: 12px;
	padding: 30px;
	font-size: 20px;
	cursor:pointer;
	text-align:center;
	margin: 20px;
}
h2{
	font-size: 40px;
}
.dotted-hr{
	border:dotted 6px white;
	border-bottom:none;
	margin: 20px auto;
	width: 190px;
}


